# ETL Pipeline Preparation
Follow the instructions below to help you create your ETL pipeline.
### 1. Import libraries and load datasets.
- Import Python libraries
- Load `messages.csv` into a dataframe and inspect the first few lines.
- Load `categories.csv` into a dataframe and inspect the first few lines.

In [1]:
# import libraries
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [2]:
# load messages dataset
messages = pd.read_csv('./messages.csv')
messages.head()

,id,message,original,genre
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct

In [3]:
messages['message'].value_counts()

#NAME?                                                                                                                                                                                                                                                                                                                                                                                         4
Shelter materials (thick polyesters) are being distributed to 18,000 households.                                                                                                                                                                                                                                                                                                               3
But while floodwaters have subsided in some areas, there has been fresh flooding in the north of the state and more heavy rainfall forecast elsewhere.                                                                                                                                                                                                                                         2
What can i do to protect my self if the earthquake comes back?                                                                                                                                                                                                                                                                                                                                 2
An EU-backed French offensive against rebels restored an uneasy order, but foreign donors have insisted on the elections before aid is resumed to Mali.                                                                                                                                                                                                                                        2
here,i'm i don't find medicin just resting to die where i can find it?                                                                                                                                                                                                                                                                                                                         2
The Management Committee is composed of six members, including a chairman, a treasurer, a secretary general, a manager and two commissioners elected democratically by the community.                                                                                                                                                                                                          2
I'd like to sign up in the 4636 program please                                                                                                                                                                                                                                                                                                                                                 2
The flood situation has worsened with nearly 3,000 villages submerged forcing an estimated 150,000 people to take shelter in raised platforms and makeshift tarpaulin tents, Assam Revenue, Relief and Rehabilitation Minister Bhumidhar Barman said.                                                                                                                                          2
The last locust infestation in the Central Asian republic was in 1995 and is expected to reoccur every four to five years.                                                                                                                                                                                                                                                                     2
What is the address of the radio station? I ask because I need to drop off a file for the committee we created. Thanks in advance!                                                                                                                                                                                                                                                             2
Sent email , matched to Seniors are living in the Seward Park Co-Op top floors with no power or water .                                                                                                                                                                                                                                                                                        2
I thought you gave my number and this was serious. Meanwhile today has been 15 days and we still haven't gotten anything                                                                                                                                                                                                                                                                       2
there are people in Delmas 32 who form an association who is taking food on the name of the people in that neighborhood. they are just keeping it. it is not being distributed.                                                                                                                                                                                                                2
They reported sporadic rains were still flooding air fields, roads and slowing urgent repairs along several key highways.                                                                                                                                                                                                                                                                      2
in my village after collapse of whole infrastructure due to flood the majority of people is homeless  in need of tents which are not available.                                                                                                                                                                                                                                                2
What we saw yesterday is a sign, you need to know what Jesus is stirring up/doing                                                                                                                                                                                                                                                                                                              2
The slow pace of reconstruction along Japan's devastated north-eastern coastline is contributing to survivors' stress, as there is little clarity on how long they will have to remain in cramped temporary housing.                                                                                                                                                                           2
Good evening. we are writing to ask you for a little help in the Sibert area. We are calling for something to eat. We haven't eaten anything yet. We ask you please do us a favor.                                                                                                                                                                                                             2
As we approach Luabo, I get my first impressions of the camp, dilapidated buildings, most without roofs, or windows and walls collapsing.                                                                                                                                                                                                                                                      2
As the harsh winter sets in, more people are in danger of dying in the freezing conditions.                                                                                                                                                                                                                                                                                                    2
Any person who enters or exits at other points will be considered an infiltrator, he added.                                                                                                                                                                                                                                                                                                    2
where we can paticipate in the law reorganizations?                                                                                                                                                                                                                                                                                                                                            2
Before we take your general questions, I'd like to make a few opening remarks concerning ISAF support to the Afghan people during these frigid winter months. After the earthquake, huge boulders blocked off the road to large vehicles. Most years, floods wreak havoc in the state, leaving a trail of destruction and killing hundreds of people. We have heard of crocodile sightings.    2
To date, a total of 39 people suffering from Ebola or having had a high risk exposure to the virus, have been medically evacuated to Europe.                                                                                                                                                                                                                                                   2
Sir or madam, I'm hungry, I cannot stand because I'm very hungry, if you could share the food, it would benefit the population, thanks                                                                                                                                                                                                                                                         2
Full Circle, my local, collecting supplies and making lunches for #SandyRelief @Full Circle Bar http://t.co/EHLqbhHw                                                                                                                                                                                                                                                                           2
Most victims (90 per cent) show little or no symptoms of infection and therefore go a long time untreated, even though the World Health Organisation lists fever, fatigue, headache, vomiting, stiffness in the neck, and pain in the limbs as initial symptoms.                                                                                                                               2
All #NYC bridges, tunnels &amp; mta closed; over 2.8 million without power #Sandy causing So much havoc!!! Praying 4 us all                                                                                                                                                                                                                                                                    2
Good morning!How are you doing my brothers when the cyclone start and when it will be finish.                                                                                                                                                                                                                                                                                                  2
                                                                                                                                                                                                                                                                                                                                                                                              ..
They've forgotten us in this area.                                                                                                                                                                                                                                                                                                                                                             1
Over-pumping of wells in an attempt to clean out contaminated water has often encouraged salt intrusion, which has done more harm than good in many places.                                                                                                                                                                                                                                    1
Ideally under normal conditions teams would be established that would work in rotating shifts, but this is not viable in evacuation shelters with many elderly people because of the extra amount of care they need beyond immediate necessities like food, clothing and shelter.                                                                                                              1
ladies and gentlemen, good evening! please send me the informations because i have some money to buy the battery, i will hear necessaries informations. thank you                                                                                                                                                                                                                              1
The trend is that the centres of the shallow volcanic quakes are moving closer and closer to the surface, and this is the normal pattern prior to an eruption, said Kristianto, a geologist monitoring Kelut.                                                                                                                                                                                  1
Eight people died in Liaoning province in the northwest after flash floods from downpours burst dams and destroyed houses in rivers running through Huludao city, Xinhua reported.                                                                                                                                                                                                             1
Financial support from the Commission's humanitarian aid department, underwrites these and other relief efforts, including the distribution of drinking water, food, medicines, hygiene kits, children's shoes and education materials.                                                                                                                                                        1
REDCROSS WE LIVE TORCEL,TABAR 70 IMPASSE DES LAURIERSET TULIPES NUMER 8,WE ARE 22 IN THE PLACE,WE HAVE NOTHING TO EAT WE NEED FOOD HELP HELP                                                                                                                                                                                                                                                   1
We are in the area near Gressier. no one came to give us food, water and sheleter. We have nothing and are sleeping in the street.                                                                                                                                                                                                                                                             1
BREAKING NEWS HUNDREDS OF PEOPLE FEARED DEAD AS POWERFUL MAGNITUDE 7.0 EARTHQUAKE HITS OFF COAST OF HAITI. Strongest earthquake since 1770 !                                                                                                                                                                                                                                                   1
As the most urgent needs of these communities have been mostly met, in the coming days the ICRC will focus on those villages which were partially destroyed by the seismic waves.                                                                                                                                                                                                              1
#hurricane #sandy heading our way.. Are you all prepared?Last hurricane I left town. And the storm was worse upstate. So this one I'm gonna stay put. *shrug* #sandy                                                                                                                                                                                                                           1
The number of Chinese army and armed police personnel dispatched to quake-hit areas by Thursday has reached a record 95,553, with 148 military and civilian aircraft used for disaster relief.                                                                                                                                                                                                 1
In some areas the torrential rain fell consistently for almost three days.                                                                                                                                                                                                                                                                                                                     1
Do each haitian make money less than the money hi can eat each day, it's not a help but it's a way to continue with operating system.                                                                                                                                                                                                                                                          1
Wash your hands and arms with soap and water afterwards and rinse with bleach powder                                                                                                                                                                                                                                                                                                           1
He added that evacuees who had been recommended to remain at shelter despite a drop in volcanic activities hailed from Suka Meriah, Bekerah, Simacem, Gurukinayan, Kutatonggal, Berastepu, Gamber and Sibintun hamlets.                                                                                                                                                                        1
tell us what is the caution a infect person in the earthquake must to take                                                                                                                                                                                                                                                                                                                     1
As the women sat and talked, their hands were busy preparing "Ranup Lampuan," a traditional offering made from various kinds of leaves - banana, betel nut and lime - and shoots of the areca nut tree and buds from banana trees.                                                                                                                                                             1
The rainstorm affected over 60,000 residents in Changzhou City in Jiangsu, with floods 30 cm to two meters deep in some areas.                                                                                                                                                                                                                                                                 1

In [4]:
# load categories dataset
categories = pd.read_csv('./categories.csv')
categories.head()

   id                                         categories
0   2  related-1;request-0;offer-0;aid_related-0;medi...
1   7  related-1;request-0;offer-0;aid_related-1;medi...
2   8  related-1;request-0;offer-0;aid_related-0;medi...
3   9  related-1;request-1;offer-0;aid_related-1;medi...
4  12  related-1;request-0;offer-0;aid_related-0;medi...

### 2. Merge datasets.
- Merge the messages and categories datasets using the common id
- Assign this combined dataset to `df`, which will be cleaned in the following steps

In [5]:
# merge datasets
df = pd.merge(messages, categories, on='id',  how='left')
df.head()

,id,message,original,genre,categories
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,related-1;request-0;offer-0;aid_related-0;medi...
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,related-1;request-0;offer-0;aid_related-1;medi...
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,related-1;request-0;offer-0;aid_related-0;medi...
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,related-1;request-1;offer-0;aid_related-1;medi...
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,related-1;request-0;offer-0;aid_related-0;medi...

### 3. Split `categories` into separate category columns.
- Split the values in the `categories` column on the `;` character so that each value becomes a separate column. You'll find [this method](https://pandas.pydata.org/pandas-docs/version/0.23/generated/pandas.Series.str.split.html) very helpful! Make sure to set `expand=True`.
- Use the first row of categories dataframe to create column names for the categories data.
- Rename columns of `categories` with new column names.

In [6]:
# create a dataframe of the 36 individual category columns
categories = df['categories'].str.split(pat = ";", expand=True)
categories.head()

,0,1,2,3,4,5,6,7,8,9,...,26,27,28,29,30,31,32,33,34,35
0,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
1,related-1,request-0,offer-0,aid_related-1,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-1,floods-0,storm-1,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
2,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
3,related-1,request-1,offer-0,aid_related-1,medical_help-0,medical_products-1,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
4,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0

In [7]:
# select the first row of the categories dataframe
row = categories.iloc[0]

# use this row to extract a list of new column names for categories.
# one way is to apply a lambda function that takes everything 
# up to the second to last character of each string with slicing
category_colnames = (row.str.slice(0, -2).apply(lambda x: x))
print(category_colnames)

0                    related
1                    request
2                      offer
3                aid_related
4               medical_help
5           medical_products
6          search_and_rescue
7                   security
8                   military
9                child_alone
10                     water
11                      food
12                   shelter
13                  clothing
14                     money
15            missing_people
16                  refugees
17                     death
18                 other_aid
19    infrastructure_related
20                 transport
21                 buildings
22               electricity
23                     tools
24                 hospitals
25                     shops
26               aid_centers
27      other_infrastructure
28           weather_related
29                    floods
30                     storm
31                      fire
32                earthquake
33                      cold
34             other_weather
35             direct_report
Name: 0, dtype: object

In [8]:
# rename the columns of `categories`
categories.columns = category_colnames
categories.head()

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
1,related-1,request-0,offer-0,aid_related-1,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-1,floods-0,storm-1,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
2,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
3,related-1,request-1,offer-0,aid_related-1,medical_help-0,medical_products-1,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
4,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0

### 4. Convert category values to just numbers 0 or 1.
- Iterate through the category columns in df to keep only the last character of each string (the 1 or 0). For example, `related-0` becomes `0`, `related-1` becomes `1`. Convert the string to a numeric value.
- You can perform [normal string actions on Pandas Series](https://pandas.pydata.org/pandas-docs/stable/text.html#indexing-with-str), like indexing, by including `.str` after the Series. You may need to first convert the Series to be of type string, which you can do with `astype(str)`.

In [9]:
for column in categories:
    # set each value to be the last character of the string
    categories[column] = categories[column].astype(str).str.slice(-1).apply(lambda x: x)
    
    # convert column from string to numeric
    categories[column] = categories[column].astype(int)
categories.head()

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,1,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,1,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### 5. Replace `categories` column in `df` with new category columns.
- Drop the categories column from the df dataframe since it is no longer needed.
- Concatenate df and categories data frames.

In [10]:
# drop the original categories column from df
df = df.drop(['categories'], axis=1)

df.head()

,id,message,original,genre
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct

In [11]:
# concatenate the original dataframe with the new `categories` dataframe
df = pd.concat([df,categories], axis=1)
df.head()

,id,message,original,genre,related,request,offer,aid_related,medical_help,medical_products,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,1,0,0,1,0,0,...,0,0,1,0,1,0,0,0,0,0
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,1,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
df['message'][0][0]

'W'

### 6. Remove duplicates.
- Check how many duplicates are in this dataset.
- Drop the duplicates.
- Confirm duplicates were removed.

In [13]:
# check number of duplicates
df.duplicated().sum()

170

In [14]:
# drop duplicates
df = df.drop_duplicates()

In [15]:
# check number of duplicates
df.duplicated().sum()

0

### 7. Save the clean dataset into an sqlite database.
You can do this with pandas [`to_sql` method](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_sql.html) combined with the SQLAlchemy library. Remember to import SQLAlchemy's `create_engine` in the first cell of this notebook to use it below.

In [16]:
engine = create_engine('sqlite:///disaster_response.db')
df.to_sql('disaster_response', engine, index=False)

ValueError: Table 'disaster_response' already exists.

### 8. Use this notebook to complete `etl_pipeline.py`
Use the template file attached in the Resources folder to write a script that runs the steps above to create a database based on new datasets specified by the user. Alternatively, you can complete `etl_pipeline.py` in the classroom on the `Project Workspace IDE` coming later.